[submodule "playground/S3E10"]
	path = playground/S3E10
	url = https://github.com/Graham-Broughton/S3E10
[submodule "cancer"]
	path = cancer
	url = https://github.com/Graham-Broughton/cancer
[submodule "birds"]
	path = birds
	url = https://github.com/Graham-Broughton/birds
[submodule "sign-language"]
	path = sign-language
	url = https://github.com/Graham-Broughton/sign-language
[submodule "ice-cube"]
	path = ice-cube
	url = https://github.com/Graham-Broughton/ice-cube
[submodule "playground/S2E8"]
	path = playground/S2E8
	url = https://github.com/Graham-Broughton/S2E8
[submodule "playground/S2E7"]
	path = playground/S2E7
	url = https://github.com/Graham-Broughton/S2E7
[submodule "playground/S2E6"]
	path = playground/S2E6
	url = https://github.com/Graham-Broughton/S2E6
[submodule "playground/S3E16"]
	path = playground/S3E16
	url = https://github.com/Graham-Broughton/S3E16
[submodule "playground/S3E17"]
	path = playground/S3E17
	url = https://github.com/Graham-Broughton/S3E17
[submodule "Parkinson-gait"]
	path = Parkinson-gait
	url = https://github.com/Graham-Broughton/Parkinson-gait
[submodule "playground/S3E11"]
	path = playground/S3E11
	url = https://github.com/Graham-Broughton/S3E11
