[submodule "playground/S3E10"]
	path = playground/S3E10
	url = https://github.com/Graham-Broughton/S3E10
[submodule "playground/TPS-08-22"]
	path = playground/TPS-08-22
	url = https://github.com/Graham-Broughton/Kaggle_TPS0822
[submodule "cancer"]
	path = cancer
	url = https://github.com/Graham-Broughton/cancer
[submodule "birds"]
	path = birds
	url = https://github.com/Graham-Broughton/birds
[submodule "sign-language"]
	path = sign-language
	url = https://github.com/Graham-Broughton/sign-language
[submodule "ice-cube"]
	path = ice-cube
	url = https://github.com/Graham-Broughton/ice-cube
[submodule "WiDS"]
	path = WiDS
	url = https://github.com/Graham-Broughton/WiDS
[submodule "TPS-07-22"]
	path = TPS-07-22
	url = https://github.com/Graham-Broughton/TPS-07-22
[submodule "playground/TPS-06-22"]
	path = playground/TPS-06-22
	url = https://github.com/Graham-Broughton/TPS-06-22
